@model MovieApp.Models.ViewPage

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Movie Details and Reviews</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.styles.css" asp-append-version="true" />
</head>

<body>
    <div>
        <header>
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="HomePage">MovieApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                <form asp-controller="Login" asp-action="Logout" method="post">
                                    <button class="Logoutbtn" style="margin-left: 900px;" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="review">
        <header>
            <h1>@Model.Moviedata.Title</h1>
            <img class="movie-poster" src="@Model.Moviedata.Poster" alt="Movie Poster" />
            <p>Year: @Model.Moviedata.Year</p>
            <p>Genre: @Model.Moviedata.Genre</p>
            <p>Director: @Model.Moviedata.Director</p>
            <p>Rating: @ViewBag.ImdbRating</p>
            <p>
                @foreach (var rating in ViewBag.Ratings)
                {
                <p>@rating.Source : @rating.Value</p>
                }
            </p>
        </header>
        <section class="movie-details">
            <h2>Movie Details:</h2>
            <p class="plot">
                <br> @Model.Moviedata.Plot
            </p>
        </section>
        <section class="reviews">
            <form method="post" asp-controller="Review" asp-action="MyComment">
                <div class="form-group">
                    <input type="hidden" name="IMDBID" value="@Model.Moviedata.imdbID">
                    <label for="commentText">Your Comment:</label>
                    <textarea id="commentText" name="remarks" rows="4" required></textarea>
                </div>
                <button type="submit">Submit Comment</button>
            </form>
            <br><br>
            <h2>Customer Reviews</h2>

            <!-- Display existing comments -->
            <div class="comments">
                @foreach (var comment in Model.MovieReviews)
                {
                    {
                        <ul>
                            <li>
                                <div class="comment">
                                    <p>@comment.Username</p>
                                    <p>@comment.DatePosted</p>
                                    <p>@comment.Comments</p>
                                </div>
                            </li>
                        </ul>
                    }
                }
            </div>

            <!-- Form for users to submit comments -->
        </section>
    </div>
</body>

</html>
