@model List<MoviesInDB>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.styles.css" asp-append-version="true" />
</head>
<div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="HomePage">MovieApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (@ViewBag.Role == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin">AddMovies</a>
                            </li>
                        }
                        <li>
                            <form asp-controller="Login" asp-action="Logout" method="post">
                                <button class="Logoutbtn" style="margin-left: 900px;" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="HomePage">
    <div class="searchbtn">
        <form method="post" asp-controller="HomePage" asp-action="HomePage">
            <input class="rounded" type="text" name="request" placeholder="Search movies"><br>
            <button class="btn_btn-primary" type="submit">Search</button>
        </form>
        <br>
    </div>
    <div class="moviefilters">
        <form method="post" id="genreForm" asp-controller="HomePage" asp-action="HomePage">
            <label for="genre">Genre:</label>
            <select id="genre" name="genre" style="margin-right: 25px;">
                <option value="no"> </option>
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <!-- Add more genre options as needed -->
            </select>
        </form>
        <form method="post" asp-controller="Homepage" asp-action="HomePage" id="yearForm">
            <label for="year">Year:</label>
            <select id="year" name="Year">
                <option value="no"> </option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <!-- Add more year options as needed -->
            </select>
        </form>
    </div>
    <div class="movie-grid">
        @foreach (var item in Model)
        {
            <div class="movie-card">
                <a href="@Url.Action("Review", "Review", new { movieName = item.imdbID })"><img class="movie-poster"
                        src="@item.Poster" alt="Movie Poster" /></a>
                <div class="movie-details">
                    <h3 class="movie-title">@item.Title</h3>
                    <!-- Add other movie details here -->
                </div>
            </div>
        }
    </div>
</div>


<script>
    document.getElementById('genre').addEventListener('change', function () { document.getElementById('genreForm').submit(); });
    document.getElementById('year').addEventListener('change', function () { document.getElementById('yearForm').submit(); });
</script>
